<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% load static %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

    </head>
    <body>
    <!--Add review form here -->
        <form action="{% url 'djangoapp:add_review' dealer_id %}" method="post">
            <div class="container"> <!--Style root div with .container class -->
                {% csrf_token %}
                <h1>Add a review about <b>{{dealer_name}} Dealership</b></h1>
                <hr>
                <div class="form-group"> <!--Style second div with .form-group class {{car.name}}-{{car.make}}-{{car.year}}-->
                    <label for="review"><b>Enter thre review content:</b></label>
                    <textarea class="form-control" id="review" name="review" rows="2" placeholder= "This is a great car dealer" required></textarea> <!--Style input with .form-control class -->
                    <hr>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="purchased" name="purchased">
                        <label class="form-check-label">Has purchased the car from  {{dealer_name}} dealership? (select purchased car information below if checked)</label>
                    </div>
                    <hr>
                    <label for="car"><b>Select your car (model-make-year)</b></label>
                    <!--<select name="car" id="car" class="form-select" required>  Style input with .form-control class 
                        {% for car1 in cars %}
                            <option>{{car1.name}}-{{car1.make}}-{{car1.year}}</option>
                        {% endfor %}
                    </select>-->

                    <select name="car" id="car" class="form-select" required>
                        {% for car in cars %}
                            <option selected value={{car.id}}>{{car.name}}-{{car.make.name}}-{{ car.year|date:"Y" }}</option>
                        {% endfor %}
                   </select>
                    <hr>
                    <label for="date-own"><b>Select your purchase date</b></label>
                    <input class="date-own form-control" type="date" name="purchase_date" id="purchase_date">
                    <script type="text/javascript">
                        $('.date-own').datepicker({
                           format: 'mm/dd/yyyy'
                         });
                    </script>
                    <hr>
                    <button class="btn btn-primary" type="submit">Add Review</button> <!--Style button with .btn and .btn-primary class -->
                </div>
            </div>
        </form>

    </body>
</html>